
<footer class="footer">
  <div class="footer-container">
    <div class="footer-box">
      <h3>Nosso E-mail</h3>
      <p>
        <a href="mailto:grupoSinapseFatec@gmail.com">
          grupoSinapseFatec@gmail.com
        </a>
      </p>
    </div>

    <div class="footer-box">
      <h3>Redes Sociais</h3>
      <div class="redes-sociais">
        <a href="#" target="_blank">
          <img src="img/instagran.png" alt="Instagram">
        </a>
        <a href="#" target="_blank">
          <img src="/img/facebook.png" alt="Facebook">
        </a>
        <a href="#" target="_blank">
          <img src="/img/linkedin.png" alt="LinkedIn">
        </a>
      </div>
    </div>
  </div>
</footer>

</body>
</html>