<header>
  <nav>
    <div class="logo">
      <a href="/">ConectaMente</a>
    </div>

    <ul class="menu">
      <li><a href="/">Início</a></li>
      <li><a href="/sobre">Sobre o jogo</a></li>
      <li><a href="/equipe">Equipe</a></li>
    </ul>
  </nav>
</header>