<header>
  <nav>
    <div class="logo">
     
      <a href="/"><img src="img/logoConecta.svg" alt="logo conecta" class="logo-header"></a>
    </div>

    <ul class="menu">
      <li><a href="/">Início</a></li>
      <li><a href="/sobre">Sobre o jogar</a></li>
      <li><a href="/equipe">Fale Conosco</a></li>
    </ul>
  </nav>
</header>