<%- include('partials/header') %>
<%- include('partials/navbar') %>

<main class="container">
  <section class="pagina">
    <h1>Nossa equipe</h1>

    <div class="cards">
      <div class="card">
        <h3>Camile Vitória Marques Dias</h3>
        <p>Integrante da equipe de desenvolvimento do projeto.</p>
      </div>

      <div class="card">
        <h3>João Pedro da Silva Vassão dos Santos</h3>
        <p>Integrante da equipe de desenvolvimento do projeto.</p>
      </div>

      <div class="card">
        <h3>Lorenzo Lopes</h3>
        <p>Integrante da equipe de desenvolvimento do projeto.</p>
      </div>
    </div>
  </section>
</main>

<%- include('partials/footer') %>