<%- include('partials/header') %>
<%- include('partials/navbar') %>

<main class="container">
  <section class="hero">
    <div class="hero-texto">
      <h1>Divirta-se e Aprenda</h1>
      <div class="card-jogo">
        <img src="img/rotinaDivertida.png" alt="Capa do jogo">
      </div>
      <a href="/" class="btn">Jogar Agora</a>
    </div>
  </section>

 <section class="beneficios">
  <h2>BENEFÍCIOS DO JOGO</h2>

  <div class="cards-beneficios">
    <div class="card-beneficio">
      <img src="img/icon-prancheta.png" alt="Ícone escolha e organização">
      <span>Escolha<br>organização</span>
    </div>

    <div class="card-beneficio">
      <img src="/img/icon-check.png" alt="Ícone estímulo e responsabilidade">
      <span>Estímulo<br>responsabilidade</span>
    </div>

    <div class="card-beneficio card-destaque">
      <img src="/img/icon-calendario.png" alt="Ícone rotina diária">
      <span>Ajuda na<br>rotina diária</span>
    </div>

    <div class="card-beneficio vazio"></div>
  </div>
</section>
</main>

<%- include('partials/footer') %>