<%- include('partials/header') %>
<%- include('partials/navbar') %>

<main class="container">
  <section class="hero">
    <div class="hero-texto">
      <h1>Divirta-se e Aprenda</h1>
      <div class="card-jogo">
        <img src="img/rotinaDivertida.png" alt="Capa do jogo">
      </div>
      <a href="/" class="btn">Jogar Agora</a>
    </div>
  </section>
</main>
<main class="container-beneficios">
 <section class="beneficios">
  <h2>BENEFÍCIOS DO JOGO</h2>

  <div class="cards-beneficios">
    <div class="card-beneficio">
      <img src="img/organizacao.svg" alt="Ícone escolha e organização">
      <span>Escolha organização</span>
    </div>

    <div class="card-beneficio">
      <img src="img/responsabilidade.svg" alt="Ícone estímulo e responsabilidade">
      <span>Estímulo responsabilidade</span>
    </div>

    <div class="card-beneficio">
      <img src="img/rotina.svg" alt="Ícone rotina diária">
      <span>Ajuda na rotina diária</span>
    </div>

    <div class="card-beneficio">
      <img src="/img/memoria.svg" alt="Ícone rotina diária">
      <span>Trabalha memória e lógica</span>
    </div>

  </div>
</section>
</main>

<%- include('partials/footer') %>