<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ConectaMente - Jogo</title>
  <link rel="stylesheet" href="/css/styleGame.css">
</head>
<body>
  <main class="game-home">
    <div class="game-logo">
      <img src="img/logoConecta.svg" alt="Logo ConectaMente">
    </div>

    <div class="game-botoes">
      <a href="/game/criar-conta" class="game-btn">CRIAR CONTA</a>
      <a href="/game/carregar-conta" class="game-btn">CARREGAR CONTA</a>
    </div>
  </main>
</body>
</html>